[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/hourglass-monorepo"]
	path = contracts/lib/hourglass-monorepo
	url = https://github.com/Layr-Labs/hourglass-monorepo
